@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
Use Razor view files to cleanly encapsulate the process of generating HTML to a client.
Razor-based view templates have a .cshtml file extension. They provide an elegant way to create HTML output with C#.

Navigate to https://localhost:xxxx/HelloWorld. The Index method in the HelloWorldController
ran the statement return View(), which specified that the method should use
a view template file to render a response to the browser. Because you
didn't explicitly specify the name of the view template file, MVC
defaulted to using the Index.cshtml view file in the /Views/HelloWorld folder.

The Title property is used in the <title> HTML element in the layout page.
*@

@{
  ViewData["Title"] = "Movie List";
}

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>
